.statistics{
    background: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgba(202, 198, 198, 0.12);
}
.divContainer h3{
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    transition: ease-in-out 0.3s;
    font-family: "Poppins", sans-serif;
    margin: 10px;
}
.GeneralContainer{
    background: hsl(42deg 3% 13%);
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.12);
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
