<div class="mx-3 container_tablas">
    <strong>
        <table class="table table-dark table-borderless" id="table" data-search="true" data-toggle="table"
            data-buttons="buttons" data-buttons-class="success" data-show-button-text="true" data-locale="es-AR"
            data-pagination="true">
            <thead>
                <tr>
                    <th data-field="id_usuario">
                        ID
                    </th>
                    <th data-field="name" data-sortable="true">
                        Nombre
                    </th>
                    <th data-field="lastname" data-sortable="true">
                        Apellido
                    </th>
                    <th data-field="dni" data-sortable="true">
                        DNI
                    </th>
                    <th data-field="username" data-sortable="true">
                        Nombre de usuario
                    </th>
                    <th data-field="email" data-sortable="true">
                        Correo Electronico
                    </th>
                    <th data-field="id_usuario" data-formatter="LinkFormatterEdit"><i class="fas fa-user-edit"></i></th>
                    <th data-field="id_usuario" data-formatter="LinkFormatterDelete"><i class="fas fa-user-times"></i>
                    </th>
                </tr>
            </thead>
        </table>
</div>
</strong>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    <ul>
                        <li>Ningun campo puede estar vacio</li>
                        <li>El DNI no debe estar previamente registrado</li>
                        <li>El Email no debe estar previamente registrado</li>
                        <li>El Nombre de usuario no debe estar previamente registrado</li>
                        <li>La Contraseña debe ser mayor a 6 digitos</li>
                        <li>Las Constraseñas deben coincidir</li>
                    </ul>
                </div>
                <form id="modalForm" action="/admin/choferes" method="POST" >

                    <input type="number" id="recipient-id" name="id" hidden>

                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="recipient-name" name="name" >
                                               <div class="invalid-feedback">
                                                   <p id="invalid-name"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="recipient-lastname" name="lastname" >
                                               <div class="invalid-feedback">
                                                   <p id="invalid-lastname"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="dni" class="form-label">DNI</label>
                        <input type="number" class="form-control" id="recipient-dni" name="dni" >
                        <div class="invalid-feedback">
                            <p id="invalid-dni"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="mail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="recipient-email" name="email" >
                        <div class="invalid-feedback">
                            <p id="invalid-email"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre de usuario</label>
                        <input type="text" class="form-control" id="recipient-username" name="username" >
                        <div class="invalid-feedback">
                            <p id="invalid-username"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="recipient-password" name="password" >
                        <div class="invalid-feedback">
                            <p id="invalid-password"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmpassword" class="form-label">Confirmar contraseña</label>
                        <input type="password" class="form-control" id="recipient-confirmpassword"
                            name="confirmPassword" >
                        <div class="invalid-feedback">
                            <p id="invalid-confirmpassword"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <small>
                            <input type="checkbox" id="ver" class="ver" onChange="hideOrShowPassword()">
                            <label class="text">Mostrar contraseñas</label>
                        </small>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" id="guardarButton" ></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
//--------------------------------------------------------------------------------------FOCUSOUTS EMPIEZAN ACA---------------------------------------------------------------------------------------
    $('#recipient-name').focusout(function () {
        const nameElement = $('#recipient-name');
        if (nameElement.val() == null || nameElement.val() == "") {       
            $('#invalid-name').text('Este campo no puede estar vacio!');
            nameElement.addClass('is-invalid');
        } else {
            nameElement.removeClass('is-invalid');
            nameElement.addClass('is-valid');
        };
    })

    $('#recipient-lastname').focusout(function () {
        const lastnameElement = $('#recipient-lastname');
        if (lastnameElement.val() == null || lastnameElement.val() == "") {
            $('#invalid-lastname').text('Este campo no puede estar vacio!');
            lastnameElement.addClass('is-invalid');
        } else {
            lastnameElement.removeClass('is-invalid');
            lastnameElement.addClass('is-valid');
        };
    })

    $('#recipient-dni').focusout(function () {
        const dniElement = $('#recipient-dni');
        const idElement = $('#recipient-id');
        if (dniElement.val() == null || dniElement.val() == "") {
            $('#invalid-dni').text('Este campo no puede estar vacio!');
            dniElement.addClass('is-invalid');
        } else {
            const dniValue = dniElement.val();
            const idValue = idElement.val();
            $.ajax('/admin/chofer/dni', {
                type: 'POST',
                data: { dniValue, idValue },
                success: function (res) {
                    if (res) {
                        dniElement.removeClass('is-invalid');
                        dniElement.addClass('is-valid');
                    } else {
                        $('#invalid-dni').text('El DNI ya existe!');
                        dniElement.addClass('is-invalid');
                    }
                }
            });
        };
    })
    $('#recipient-password').focusout(function () {
        const passwordElement = $('#recipient-password');
        if (passwordElement.val() == null || passwordElement.val() == "") {
            $('#invalid-password').text('Este campo no puede estar vacio!');
            passwordElement.addClass('is-invalid');
        } else {
            if (passwordElement.val().length < 7) {
                $('#invalid-password').text('El minimo de caracteres es 7!');
                passwordElement.addClass('is-invalid');
            }
            else {
                passwordElement.removeClass('is-invalid');
                passwordElement.addClass('is-valid');
            }
        };
    })
    $('#recipient-username').focusout(function () {
        const usernameElement = $('#recipient-username');
        const idElement = $('#recipient-id');
        if (usernameElement.val() == null || usernameElement.val() == "") {
            $('#invalid-username').text('Este campo no puede estar vacio!');
            usernameElement.addClass('is-invalid');
        } else {
            const usernameValue = usernameElement.val();
            const idValue = idElement.val();
            $.ajax('/admin/chofer/username', {
                type: 'POST',
                data: { usernameValue, idValue },
                success: function (res) {
                    if (res) {
                        usernameElement.removeClass('is-invalid');
                        usernameElement.addClass('is-valid');
                    } else {
                        $('#invalid-username').text('El Nombre de usuario ya existe!');
                        usernameElement.addClass('is-invalid');
                    }
                }
            });
        };
    })
    $('#recipient-confirmpassword').focusout(function () {
        const passwordElement = $('#recipient-password');
        const confirmpasswordElement = $('#recipient-confirmpassword');
        if (confirmpasswordElement.val() == null || confirmpasswordElement.val() == "") {
            $('#invalid-confirmpassword').text('Este campo no puede estar vacio!');
            confirmpasswordElement.addClass('is-invalid');
        } else {
            if (confirmpasswordElement.val() === passwordElement.val()) {
                confirmpasswordElement.removeClass('is-invalid');
                confirmpasswordElement.addClass('is-valid');
            }
            else {
                confirmpasswordElement.removeClass('is-valid');
                $('#invalid-confirmpassword').text('Debe coincidir con la contraseña!');
                confirmpasswordElement.addClass('is-invalid');
            }
        };
    })

    $('#recipient-email').focusout(function () {
        const emailElement = $('#recipient-email');
        const idElement = $('#recipient-id');
        if (emailElement.val() == null || emailElement.val() == "") {
            $('#invalid-email').text('Este campo no puede estar vacio!');
            emailElement.addClass('is-invalid');
        } else {
            const emailValue = emailElement.val();
            const idValue = idElement.val();
            $.ajax('/admin/chofer/email', {
                type: 'POST',
                data: { emailValue, idValue },
                success: function (res) {
                    if (res) {
                        emailElement.removeClass('is-invalid');
                        emailElement.addClass('is-valid');
                    } else {
                        $('#invalid-email').text('El Email de usuario ya existe!');
                        emailElement.addClass('is-invalid');
                    }
                }
            });
        };
    })
// --------------------------------------------------------------------------------------FOCUSOUTS TERMINAN ACA ---------------------------------------------------------------------------------
    function hideOrShowPassword() {
        const password1 = document.getElementById("recipient-password");
        const password2 = document.getElementById("recipient-confirmpassword")
        const check = document.getElementById("ver");

        if (check.checked == true) // Si la checkbox de mostrar contraseña está activada
        {
            password1.type = "text";
            password2.type = "text";
        } else // Si no está activada 
        {
            password1.type = "password";
            password2.type = "password";
        }
    }

</script>

<script>
    $(document).ready(function () {
        $table = $('#table');
        $('#table').bootstrapTable('load', []);
        $.ajax({
            type: 'GET',
            url: 'http://localhost:3000/admin/choferJSON',
            data: {},
            dataType: 'json',
            success: function (data) {
                $('#table').bootstrapTable('load', data);
            }, error: function () {
                alert('Error conexion con el servidor');
            }
        });
    });

    $(function () {
        $('#exampleModal').on('shown.bs.modal', function (e) {
            $('#recipient-name').focus();
        })
    });
//---------------------------------------------------------------------------------------------------BOTON EDITAR-------------------------------------------------------------------------------------
    function LinkFormatterEdit(value, row) {
        return "<button type='button' class='btn btn-primary btn-xs edit_button'" +
            "data-toggle='modal' data-target='#exampleModal'" +
            "data-id_chofer='" + row.id_usuario + "'" +
            "data-nombre='" + row.name + "'" +
            "data-apellido='" + row.lastname + "'" +
            "data-dni='" + row.dni + "'" +
            "data-username='" + row.username + "'" +
            "data-email='" + row.email + "'>" +
            "Editar" +
            "</button>"
    }
    $(document).on("click", '.edit_button', function () {
        var name = $(this).data('nombre');
        var lastname = $(this).data('apellido');
        var dni = $(this).data('dni');
        var username = $(this).data('username');
        var email = $(this).data('email');
        var id = $(this).data('id_chofer');


        $('#exampleModalLabel').text('Editar insumo');
        $("#recipient-name").val(name);
        $("#recipient-lastname").val(lastname);
        $("#recipient-dni").val(dni);
        $("#recipient-username").val(username);
        $("#recipient-email").val(email);
        $("#recipient-id").val(id);

        $("#recipient-name").removeClass("is-invalid is-valid");
        $("#recipient-lastname").removeClass("is-invalid is-valid");
        $("#recipient-dni").removeClass("is-invalid is-valid");
        $("#recipient-username").removeClass("is-invalid is-valid");
        $("#recipient-email").removeClass("is-invalid is-valid");
        $('#exampleModal').modal('show');
        $('#guardarButton').text('Guardar');

        const nombre2 = document.getElementById("recipient-name").value;
        const lastname2 = document.getElementById("recipient-lastname").value;
        const dni2 = document.getElementById("recipient-dni").value;
        const username2 = document.getElementById("recipient-username").value;
        const email2 = document.getElementById("recipient-email").value;
        const password = document.getElementById("recipient-password").value;
        const confirmpassword = document.getElementById("recipient-confirmpassword").value;
        const personalButton = document.getElementById("guardarButton");

        const onChangeInputsPersonal = () => {
            let nombreBoolean = document.getElementById("recipient-name").value == nombre2;
            let lastnameBoolean = document.getElementById("recipient-lastname").value == lastname2;
            let dniBoolean = document.getElementById("recipient-dni").value == dni2;
            let usernameBoolean = (document.getElementById("recipient-username").value).toUpperCase() == username2.toUpperCase();
            let emailBoolean = (document.getElementById("recipient-email").value).toUpperCase() == email2.toUpperCase();
            let passwordBoolean = $('#recipient-password').val() == '' ;
            let confirmpasswordBoolean = $('#recipient-confirmpassword').val() == '' ;
            

            (nombreBoolean && lastnameBoolean && dniBoolean && usernameBoolean && emailBoolean && passwordBoolean && confirmpasswordBoolean) ? personalButton.disabled = true : personalButton.disabled = false;

        }

        document.getElementById("recipient-name").addEventListener('input', () => {
            onChangeInputsPersonal();
        });

        document.getElementById("recipient-lastname").addEventListener('input', () => {
            onChangeInputsPersonal();
        });

        document.getElementById("recipient-dni").addEventListener('input', () => {
            onChangeInputsPersonal();
        });
        document.getElementById("recipient-username").addEventListener('input', () => {
            onChangeInputsPersonal();
        });
        document.getElementById("recipient-email").addEventListener('input', () => {
            onChangeInputsPersonal();
        });
        document.getElementById("recipient-password").addEventListener('input', () => {
            onChangeInputsPersonal();
        });
        document.getElementById("recipient-confirmpassword").addEventListener('input', () => {
            onChangeInputsPersonal();
        });
        

        onChangeInputsPersonal();

    });
//---------------------------------------------------------------------------------------------------TERMINO EL BOTON EDITAR----------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------------BOTON ELIMINAR-------------------------------------------------------------------------------------
    function LinkFormatterDelete(value) {
        return "<a onclick='confirmar(" + value + ")' ><button class='btn btn-danger'>Eliminar</button></a> ";
    }
//---------------------------------------------------------------------------------------------------TERMINO EL BOTON ELIMINAR-------------------------------------------------------------------------------------

//---------------------------------------------------------------------------------------------------BOTON AGREGAR-------------------------------------------------------------------------------------
    function buttons() {
        return {
            btnAdd: {
                text: 'Agregar chofer',
                icon: 'fa fa-user-plus',
                event: {
                    click: () => {
                        $('#exampleModalLabel').text('Agregar un nuevo chofer');
                        $('#guardarButton').text('Agregar');
                        $('#exampleModal').modal('show');
                        $("#recipient-name").removeClass("is-invalid is-valid");
                        $("#recipient-lastname").removeClass("is-invalid is-valid");
                        $("#recipient-dni").removeClass("is-invalid is-valid");
                        $("#recipient-username").removeClass("is-invalid is-valid");
                        $("#recipient-email").removeClass("is-invalid is-valid");
                        $('#modalForm').trigger("reset");
                        $('#guardarButton').prop('disabled', false);
                    }
                },
                attributes: {
                    title: 'Agregar un nuevo chofer',
                }
            }
        }
    }
//---------------------------------------------------------------------------------------------------TERMINO EL BOTON AGREGAR-------------------------------------------------------------------------------------
    $("#modalForm").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var url = form.attr('action');
        var array = form.serializeArray();
        var edit = array[0].value != '';
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                if (data.length > 0) {
                    $('#recipient-name').addClass('is-valid');
                    $('#recipient-lastname').addClass('is-valid');
                    $('#recipient-dni').addClass('is-valid');
                    $('#recipient-username').addClass('is-valid');
                    $('#recipient-email').addClass('is-valid');
                    $('#recipient-password').addClass('is-valid');
                    $('#recipient-confirmPassword').addClass('is-valid');
                    console.log("DATA:", data);
                    $.each(data, function (index, value) {
                        if (value.param == 'name'){
                            $('#recipient-name' ).addClass('is-invalid');
                            $('#invalid-name').text(value.msg);
                        } 
                        if (value.param == 'lastname'){
                            $('#recipient-lastname').addClass('is-invalid');
                            $('#invalid-lastname').text(value.msg);
                        }                        
                        if (value.param == 'dni'){
                            $('#recipient-dni').addClass('is-invalid');
                            $('#invalid-dni').text(value.msg);
                        } 
                        if (value.param == 'username'){
                            $('#recipient-username').addClass('is-invalid');
                            $('#invalid-username').text(value.msg);
                        } 
                        if (value.param == 'email'){
                            $('#recipient-email').addClass('is-invalid');
                            $('#invalid-email').text(value.msg);
                        } 
                        if (value.param == 'password'){
                            $('#recipient-password').addClass('is-invalid');
                            $('#invalid-password').text(value.msg);
                        } 
                        if (value.param == 'confirmPassword'){
                            $('#recipient-confirmpassword').addClass('is-invalid');
                            $('#invalid-confirmpassword').text(value.msg);
                        } 
                    });
                } else {
                    if (edit) {
                        $('#exampleModal').modal('toggle');
                        Swal.fire(
                            'Editado!',
                            'El chofer se ha editado exitosamente!',
                            'success'
                        )
                    } else {
                        Swal.fire(
                            'Agregado!',
                            'El chofer se ha agregado exitosamente!',
                            'success'
                        )
                    }
                    $.ajax({
                        type: 'GET',
                        url: 'http://localhost:3000/admin/choferJSON',
                        data: {},
                        dataType: 'json',
                        success: function (data) {
                            $('#table').bootstrapTable('load', data);
                        }, error: function () {
                            alert('Error conexion con el servidor');
                        }
                    });

                }
            }
        })
    });
function confirmar(id) {
        Swal.fire({
            title: 'Seguro que quieres eliminarlo?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminarlo!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax('/admin/choferes/eliminar/', {
                    type: 'DELETE',
                    data: { id },
                    success: function (res) {
                        if (res.result) {
                            $.ajax({
                                type: 'GET',
                                url: 'http://localhost:3000/admin/choferJSON',
                                data: {},
                                dataType: 'json',
                                success: function (data) {
                                    $('#table').bootstrapTable('load', data);
                                }, error: function () {
                                    alert('Error conexion con el servidor');
                                }
                            });
                            Swal.fire(
                                'Eliminado!',
                                res.message,
                                'success'
                            )
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: res.message
                            })
                        }
                    },
                    error: function (data) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!'
                        })
                    }
                });
            }
        })
    };   

</script>