<div class="mx-3 container_tablas">
    <strong>
        <table class="table table-dark table-borderless" id="table" data-search="true" data-toggle="table"
            data-buttons="buttons" data-buttons-class="success" data-show-button-text="true" data-locale="es-AR"
            data-pagination="true">
            <thead>
                <tr>
                    <th data-field="id_usuario">
                        ID
                    </th>
                    <th data-field="name" data-sortable="true">
                        Nombre
                    </th>
                    <th data-field="lastname" data-sortable="true">
                        Apellido
                    </th>
                    <th data-field="dni" data-sortable="true">
                        DNI
                    </th>
                    <th data-field="username" data-sortable="true">
                        Nombre de usuario
                    </th>
                    <th data-field="email" data-sortable="true">
                        Correo Electronico
                    </th>
                    <th data-field="id_usuario" data-formatter="LinkFormatterEdit"><i class="fas fa-user-edit"></i></th>
                    <th data-field="id_usuario" data-formatter="LinkFormatterDelete"><i class="fas fa-user-times"></i>
                    </th>
                </tr>
            </thead>
        </table>
</div>
</strong>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agrega un Chofer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
            </div>
            <div class="modal-body">
                <form id="modalForm" href="/choferes" method="POST">
                    <input type="number" id="recipient-id" name="id" hidden>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="recipient-name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="recipient-lastname" name="lastname">
                    </div>
                    <div class="mb-3">
                        <label for="dni" class="form-label">DNI</label>
                        <input type="number" class="form-control" id="recipient-dni" name="dni">
                    </div>
                    <div class="mb-3">
                        <label for="mail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="recipient-email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre de usuario</label>
                        <input type="text" class="form-control" id="recipient-username" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="recipient-password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirnar contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" id="guardarButton"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var correo = $('#recipient-email');
    correo.on("keyup", validarCorreo)
    function validarCorreo() {
        if (correo.val().length < 5) {
            correo.addClass('is-invalid');
        } else {
            correo.removeClass('is-invalid');
            correo.addClass('is-valid');
        }
    };
    var name2 = $('#recipient-name');
    name2.on("keyup", validarName)
    function validarName() {
        if (name2.val() == null || name2.val() == "") {
            name2.attr("placeholder", "Complete este campo.");
            name2.addClass('is-invalid');
        } else {
            name2.removeAttr('placeholder')
            name2.removeClass('is-invalid');
            name2.addClass('is-valid');
        };
    }
    var lastname2 = $('#recipient-lastname');
    lastname2.on("keyup", validarLastname)
    function validarLastname() {
        if (lastname2.val() == null || lastname2.val() == "") {
            lastname2.attr("placeholder", "Complete este campo.");
            lastname2.addClass('is-invalid');
        } else {
            lastname2.removeAttr('placeholder')
            lastname2.removeClass('is-invalid');
            lastname2.addClass('is-valid');
        };
    };
    var dni2 = $('#recipient-dni');
    dni2.on("keyup", validarDni)
    function validarDni() {
        if (dni2.val() == null || dni2.val() == "" ) {
            dni2.attr("placeholder", "Complete este campo.");
            dni2.addClass('is-invalid');
        } else {
            dni2.removeAttr('placeholder')
            dni2.removeClass('is-invalid');
            dni2.addClass('is-valid');
        };
    };
</script>
<script>
    $(document).ready(function () {
        $table = $('#table');
        $('#table').bootstrapTable('load', []); //aca cuando se carga la pag , lo incializamos y luewgos por el get rellenamos la tabla 
        $.ajax({
            type: 'GET',
            url: 'http://localhost:3000/admin/choferJSON',
            data: {},
            dataType: 'json',
            success: function (data) {
                $('#table').bootstrapTable('load', data);
            }, error: function () {
                alert('Error conexion con el servidor');
            }
        });
    });
    $(function () {
        $('#exampleModal').on('shown.bs.modal', function (e) {
            $('#recipient-name').focus();
        })
    });
    // BOTON EDITAR
    function LinkFormatterEdit(value, row) {
        return "<button type='button' class='btn btn-primary btn-xs edit_button'" +
            "data-toggle='modal' data-target='#exampleModal'" +
            "data-id_chofer='" + row.id_usuario + "'" +
            "data-nombre='" + row.name + "'" +
            "data-apellido='" + row.lastname + "'" +
            "data-dni='" + row.dni + "'" +
            "data-username='" + row.username + "'" +
            "data-email='" + row.email + "'>" +
            "Editar" +
            "</button>"
    }
    $(document).on("click", '.edit_button', function () {
        var name = $(this).data('nombre');
        var lastname = $(this).data('apellido');
        var dni = $(this).data('dni');
        var username = $(this).data('username');
        var email = $(this).data('email');
        var id = $(this).data('id_chofer');


        $('#exampleModalLabel').text('Editar insumo');
        $("#recipient-name").val(name);
        $("#recipient-lastname").val(lastname);
        $("#recipient-dni").val(dni);
        $("#recipient-username").val(username);
        $("#recipient-email").val(email);
        $("#recipient-id").val(id);
        $('#exampleModal').modal('show')
        $('#guardarButton').text('Guardar');

        const nombre2 = document.getElementById("recipient-name").value;
        const lastname2 = document.getElementById("recipient-lastname").value;
        const dni2 = document.getElementById("recipient-dni").value;
        const username2 = document.getElementById("recipient-username").value;
        const email2 = document.getElementById("recipient-email").value;
        const personalButton = document.getElementById("guardarButton");

        const onChangeInputsPersonal = () => {
            let nombreBoolean = document.getElementById("recipient-name").value == nombre2;
            let lastnameBoolean = document.getElementById("recipient-lastname").value == lastname2;
            let dniBoolean = document.getElementById("recipient-dni").value == dni2;
            let usernameBoolean = (document.getElementById("recipient-username").value).toUpperCase() == username2.toUpperCase();
            let emailBoolean = (document.getElementById("recipient-email").value).toUpperCase() == email2.toUpperCase();
            (nombreBoolean && lastnameBoolean && dniBoolean && usernameBoolean && emailBoolean) ? personalButton.disabled = true : personalButton.disabled = false;

        }

        document.getElementById("recipient-name").addEventListener('input', () => {
            onChangeInputsPersonal();
        });

        document.getElementById("recipient-lastname").addEventListener('input', () => {
            onChangeInputsPersonal();
        });

        document.getElementById("recipient-dni").addEventListener('input', () => {
            onChangeInputsPersonal();
        });
        document.getElementById("recipient-username").addEventListener('input', () => {
            onChangeInputsPersonal();
        });
        document.getElementById("recipient-email").addEventListener('input', () => {
            onChangeInputsPersonal();
        });

        onChangeInputsPersonal();

    });
    function LinkFormatterDelete(value) {
        return "<a href='/admin/chofer/eliminar/" + value + "' ><button class='btn btn-danger'>Eliminar</button></a> ";
    }
    function buttons() {
        return {
            btnAdd: {
                text: 'Agregar chofer',
                icon: 'fa fa-user-plus',
                event: {
                    click: () => {
                        $('#exampleModal').modal('show')
                        $('#modalForm').trigger("reset");
                        $('#guardarButton').text('Agregar');
                    }
                },
                attributes: {
                    title: 'Agregar un nuevo chofer',
                }
            }
        }

    }
</script>