<div class="conteiner mx-3">
    <strong>
        <table class="table table-dark table-borderless" id="table" data-search="true" data-toggle="table"
            data-buttons="buttons" data-buttons-class="success">
            <!--aca esta la tabla :D-->
            <thead>
                <tr class='No matchea'>
                    <th data-field="id_combi">
                        ID
                    </th>
                    <th data-field="patente" data-sortable="true">
                        Patente
                    </th>
                    <th data-field="chofer" data-sortable="true">
                        Chofer asignado
                    </th>
                    <th data-field="cantidadAsientos" data-sortable="true">
                        Cantidad de asientos
                    </th>
                    <th data-field="id" data-formatter="LinkFormatterEdit"><i class="fas fa-user-edit"></i></th>
                    <th data-field="id" data-formatter="LinkFormatterView"><i class="fas fa-user-times"></i></th>
                </tr>
            </thead>
        </table>
</div>
</strong>

<script>
      $(document).ready(function () {
        $table = $('#table');
        $('#table').bootstrapTable('load', []); //aca cuando se carga la pag , lo incializamos y luewgos por el get rellenamos la tabla 
        $.ajax({
            type: 'GET',
            // No va el choferJSON, deberia ir combisJSON
            url: 'http://localhost:3000/admin/choferJSON',
            data: {},
            dataType: 'json',
            success: function (data) {
                $('#table').bootstrapTable('load', data);
           }, error: function () {
                alert('Error conexion con el servidor');
           }
        });
    }); 


    
    // El value aca no hace nada, nos lo paso Gonza y aca iba lo que hacia cuando tocaban el boton. Ejemplo:
    //function LinkFormatterEdit(value) {
    //return "<a href='/centros/editar/" + value + "' ><button class='btn btn-warning'>Editar</button></a> ";
    // }
    function LinkFormatterEdit(value) {
        return "<a href='#' ><button class='btn btn-primary' >Editar</button></a> ";
    }
    function LinkFormatterView(value) {
        return "<a href='#'><button class='btn btn-danger'>Borrar</button></a> ";
    }
    function buttons() {
        return {
            btnAdd: {
                text: 'Add new row',
                icon: 'fa fa-user-plus',
                event: function () {
                    alert('TIENE QUE HACER ALGO PARA AGREGARLO')
                },
                attributes: {
                    title: 'Agregar un nuevo chofer',
                }
            }
        }
    }
</script>