<div class="mx-3 container_tablas">
    <strong>
        <table class="table table-dark table-borderless" id="table" data-search="true" data-toggle="table"
            data-buttons="buttons" data-buttons-class="success" data-show-button-text="true" data-locale="es-AR"
            data-pagination="true">
            <thead>
                <tr>
                    <th data-field="id_insumo">
                        ID
                    </th>
                    <th data-field="nombre" data-sortable="true">
                        Nombre
                    </th>
                    <th data-field="precio" data-sortable="true">
                        Precio
                    </th>
                    <th data-field="cantidad" data-sortable="true">
                        Cantidad
                    </th>
                    <th data-field="id_insumo" data-formatter="LinkFormatterEdit"><i class="fas fa-user-edit"></i></th>
                    <th data-field="id_insumo" data-formatter="LinkFormatterDelete"><i class="fas fa-user-times"></i>
                    </th>
                </tr>
            </thead>
        </table>
</div>
</strong>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="modalForm" active="/admin/insumos" method="POST">
                    <div class="mb-3">
                        <input type="number" id="recipient-id" name="id" hidden>
                        <label for="recipient-name" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="recipient-name" name="nombre">
                        <div class="invalid-feedback">
                            <p id="invalid-name"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-precio" class="col-form-label">Precio:</label>
                        <input type="number" class="form-control" id="recipient-precio" name="precio">
                        <div class="invalid-feedback">
                            <p id="invalid-price"></p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-cantidad" class="col-form-label">Cantidad:</label>
                        <input type="number" class="form-control" id="recipient-cantidad" name="cantidad">
                        <div class="invalid-feedback">
                            <p id="invalid-amount"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" id="guardarButton"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $table = $('#table');
        $('#table').bootstrapTable('load', []); //aca cuando se carga la pag , lo incializamos y luewgos por el get rellenamos la tabla 
        $.ajax({
            type: 'GET',
            // No va el choferJSON, deberia ir insumosJSON
            url: 'http://localhost:3000/admin/insumosJSON',
            data: {},
            dataType: 'json',
            success: function (data) {
                $('#table').bootstrapTable('load', data);
            }, error: function () {
                alert('Error conexion con el servidor');
            }
        });
    });


    $('#recipient-name').focusout(function () {
        const nameElement = $('#recipient-name');
        if (nameElement.val() == null || nameElement.val() == "") {
            nameElement.addClass('is-invalid');
            $('#invalid-name').text('El campo Nombre no puede estar vacio!');
        } else {
            nameElement.removeClass('is-invalid');
            nameElement.addClass('is-valid');
        };
    })

    $('#recipient-precio').focusout(function () {
        const precioElement = $('#recipient-precio');
        if (precioElement.val() == null || precioElement.val() == "") {
            precioElement.addClass('is-invalid');
            $('#invalid-price').text('El campo Precio no puede estar vacio!');
        } else {
            precioElement.removeClass('is-invalid');
            precioElement.addClass('is-valid');
        };
    })

    $('#recipient-cantidad').focusout(function () {
        const cantidadElement = $('#recipient-cantidad');
        if (cantidadElement.val() == null || cantidadElement.val() == "") {
            cantidadElement.addClass('is-invalid');
            $('#invalid-amount').text('El campo Cantidad no puede estar vacio!');
        } else {
            cantidadElement.removeClass('is-invalid');
            cantidadElement.addClass('is-valid');
        };
    })

    // BOTON EDITAR
    function LinkFormatterEdit(value, row) {
        return "<button type='button' class='btn btn-primary btn-xs edit_button'" +
            "data-toggle='modal' data-target='#exampleModal'" +
            "data-id_insumo='" + row.id_insumo + "'" +
            "data-nombre='" + row.nombre + "'" +
            "data-precio='" + row.precio + "'" +
            "data-cantidad='" + row.cantidad + "'>" +
            "Editar" +
            "</button>"
    }
    
    $(document).on("click", '.edit_button', function () {
        var nombre = $(this).data('nombre');
        var precio = $(this).data('precio');
        var cantidad = $(this).data('cantidad');
        var id = $(this).data('id_insumo');


        $('#exampleModalLabel').text('Editar insumo');
        $("#recipient-name").val(nombre);
        $("#recipient-precio").val(precio);
        $("#recipient-cantidad").val(cantidad);
        $("#recipient-id").val(id);
        $("#recipient-name").removeClass("is-invalid is-valid");
        $("#recipient-cantidad").removeClass("is-invalid is-valid");
        $("#recipient-precio").removeClass("is-invalid is-valid");
        $('#exampleModal').modal('show')
        $('#guardarButton').text('Guardar');

        const nombre2 = document.getElementById("recipient-name").value.toUpperCase();
        const precio2 = document.getElementById("recipient-precio").value;
        const cantidad2 = document.getElementById("recipient-cantidad").value;
        const personalButton = document.getElementById("guardarButton");

        const onChangeInputsPersonal = () => {
            let nombreBoolean = (document.getElementById("recipient-name").value).toUpperCase() == nombre2;
            let precioBoolean = document.getElementById("recipient-precio").value == precio2;
            let cantidadBoolean = document.getElementById("recipient-cantidad").value == cantidad2;
            (nombreBoolean && precioBoolean && cantidadBoolean) ? personalButton.disabled = true : personalButton.disabled = false;
            if (nombreBoolean && precioBoolean && cantidadBoolean) {
                personalButton.disabled = true;
            } else {
                personalButton.disabled = false;
            }

        }

        document.getElementById("recipient-name").addEventListener('input', () => {
            onChangeInputsPersonal();
        });

        document.getElementById("recipient-precio").addEventListener('input', () => {
            onChangeInputsPersonal();
        });

        document.getElementById("recipient-cantidad").addEventListener('input', () => {
            onChangeInputsPersonal();
        });

        onChangeInputsPersonal();

    });



    function LinkFormatterDelete(value) {
        return "<a onclick='confirmar(" + value + ")' ><button class='btn btn-danger'>Eliminar</button></a>";
    }

    function buttons() {
        return {
            btnAdd: {
                text: 'Agregar insumo',
                icon: 'fa fa-user-plus',
                event: {
                    click: () => {
                        $('#exampleModalLabel').text('Agregar un nuevo insumo');
                        $('#guardarButton').text('Agregar');
                        $('#exampleModal').modal('show');
                        $('#guardarButton').prop('disabled', false);
                        $("#recipient-name").removeClass("is-invalid is-valid");
                        $("#recipient-cantidad").removeClass("is-invalid is-valid");
                        $("#recipient-precio").removeClass("is-invalid is-valid");

                        $('#modalForm').trigger("reset");
                    }
                },
                attributes: {
                    title: 'Agregar un nuevo insumo',
                }
            }
        }
    }
    $("#modalForm").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var url = form.attr('action');
        var array = form.serializeArray();
        var edit = array[0].value != '';

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                if (data.length > 0) {
                    $('#recipient-name').removeClass('is-invalid');
                    $('#recipient-name').addClass('is-valid');
                    $('#recipient-precio').removeClass('is-invalid');
                    $('#recipient-precio').addClass('is-valid');
                    $('#recipient-cantidad').removeClass('is-invalid');
                    $('#recipient-cantidad').addClass('is-valid');
                    $.each(data, function (index, value) {
                        console.log("este es le valor ", value)
                        if (value.param == 'nombre') {
                            $('#recipient-name').addClass('is-invalid');
                            $('#invalid-name').text(value.msg);
                        }
                        if (value.param == 'precio') {
                            $('#recipient-precio').addClass('is-invalid');
                            $('#invalid-price').text(value.msg);
                        }
                        if (value.param == 'cantidad') {
                            $('#recipient-cantidad').addClass('is-invalid');
                            $('#invalid-amount').text(value.msg);
                        }
                    })
                } else {
                    if (edit) {
                        $('#exampleModal').modal('toggle');
                        Swal.fire(
                            'Editado!',
                            'El Insumo se ha editado exitosamente!',
                            'success'
                        )
                    } else {
                        Swal.fire(
                            'Agregado!',
                            'El Insumo se ha agregado exitosamente!',
                            'success'
                        )
                    }
                    $.ajax({
                        type: 'GET',
                        url: 'http://localhost:3000/admin/insumosJSON',
                        data: {},
                        dataType: 'json',
                        success: function (data) {
                            $('#table').bootstrapTable('load', data);
                        }, error: function () {
                            alert('Error conexion con el servidor');
                        }
                    });
                    $("#recipient-name").removeClass("is-invalid is-valid");
                    $("#recipient-cantidad").removeClass("is-invalid is-valid");
                    $("#recipient-precio").removeClass("is-invalid is-valid");
                    $('#modalForm').trigger("reset");
                }
            }
        })

    });
    function confirmar(id) {
        Swal.fire({
            title: 'Seguro que quieres eliminarlo?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminarlo!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax('/admin/insumos/eliminar/', {
                    type: 'DELETE',
                    data: { id },
                    success: function (res) {
                        if (res.result) {
                            $.ajax({
                                type: 'GET',
                                url: 'http://localhost:3000/admin/insumosJSON',
                                data: {},
                                dataType: 'json',
                                success: function (data) {
                                    $('#table').bootstrapTable('load', data);
                                }, error: function () {
                                    alert('Error conexion con el servidor');
                                }
                            });
                            Swal.fire(
                                'Eliminado!',
                                res.message,
                                'success'
                            )
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: res.message
                            })
                        }
                    },
                    error: function (data) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!'
                        })
                    }
                });
            }
        })
    };

</script>