<div class="mx-3 container_tablas">
    <strong>
        <table class="table table-dark table-borderless" id="table" data-search="true" data-toggle="table"
            data-buttons="buttons" data-buttons-class="success" data-show-button-text="true" data-pagination="true"
            data-locale="es-AR">
            <thead>
                <tr class="">
                    <th data-field="id_lugar" data-sortable="true">
                        ID
                    </th>
                    <th data-field="nombre" data-sortable="true">
                        Nombre
                    </th>
                    <th data-field="id_lugar" data-formatter="LinkFormatterEdit"><i class="fas fa-user-edit"></i></th>
                    <th data-field="id_lugar" data-formatter="LinkFormatterDelete"><i class="fas fa-user-times"></i>
                    </th>
                </tr>
            </thead>
        </table>
</div>
</strong>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo lugar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
            </div>
            <div class="modal-body">
                <form id="modalForm" href="/lugares" method="POST">
                    <div class="mb-3">
                        <input type="number" id="recipient-id" name="id" hidden>

                        <label for="recipient-name" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="recipient-name" name="nombre">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" id="guardarButton">Agregar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $table = $('#table');
        $('#table').bootstrapTable('load', []); //aca cuando se carga la pag , lo incializamos y luewgos por el get rellenamos la tabla 
        $.ajax({
            type: 'GET',
            url: 'http://localhost:3000/admin/lugaresJSON',
            data: {},
            dataType: 'json',
            success: function (data) {
                $('#table').bootstrapTable('load', data);
            }, error: function () {
                alert('Error conexion con el servidor');
            }
        });
    });
    function LinkFormatterEdit(value, row) {
        return "<button type='button' class='btn btn-primary btn-xs edit_button'" +
            "data-toggle='modal' data-target='#exampleModal'" +
            "data-id_lugar='" + row.id_lugar + "'" +
            "data-nombre='" + row.nombre + "'>" +
            "Editar" +
            "</button>"
        //return "<a href='/admin/lugar/editar/" + value + "' ><button class='btn btn-primary' id='boton_editar'>Editar</button></a> ";
    }
    $(document).on("click", '.edit_button', function () {
        var nombre = $(this).data('nombre');
        var id = $(this).data('id_lugar');

        $("#recipient-name").val(nombre);
        $("#recipient-id").val(id);
        $('#exampleModal').modal('show')

        const nombre2 = document.getElementById("recipient-name").value;
        const personalButton = document.getElementById("guardarButton");

        const onChangeInputsPersonal = () => {
            let nombreBoolean = (document.getElementById("recipient-name").value).toUpperCase() == nombre2;

            (nombreBoolean) ? personalButton.disabled = true : personalButton.disabled = false;

        }

        document.getElementById("recipient-name").addEventListener('input', () => {
            onChangeInputsPersonal();
        })

        onChangeInputsPersonal();

    });
    function LinkFormatterDelete(value) {
        return "<a href='/admin/lugares/eliminar/" + value + "' ><button class='btn btn-danger'>Eliminar</button></a> ";
    }
    function buttons() {
        return {
            btnAdd: {
                text: 'Agregar lugar',
                icon: 'fa fa-user-plus',
                event: {
                    click: () => {
                        $('#exampleModal').modal('show')
                        $('#modalForm').trigger("reset");
                    }
                },
                attributes: {
                    title: 'Agregar un nuevo lugar',
                }
            }
        }
    }
</script>