<div class="mx-3 container_tablas">
    <strong>
        <table class="table table-dark table-borderless" id="table" data-search="true" data-toggle="table"
            data-buttons="buttons" data-buttons-class="success" data-show-button-text="true" data-pagination="true"
            data-locale="es-AR">
            <thead>
                <tr>
                    <th data-field="id_ruta">ID</th>
                    <th data-field="origen" data-sortable="true">
                        Origen
                    </th>
                    <th data-field="destino" data-sortable="true">
                        Destino
                    </th>
                    <th data-field="id_ruta" data-formatter="LinkFormatterEdit"><i class="fas fa-user-edit"></i></th>
                    <th data-field="id_ruta" data-formatter="LinkFormatterDelete"><i class="fas fa-user-times"></i>
                    </th>
                </tr>
            </thead>
        </table>
</div>
</strong>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
            </div>
            <div class="modal-body">
                <form id="modalForm" action="/admin/rutas" method="POST">
                    <input type="number" id="recipient-id" name="id" hidden>
                    <div class="mb-3">
                        <label for="origen">Seleccione un origen</label>
                        <input list="origenes" name="origen" id="origen" class="form-select" autocomplete='off'>
                        <div class="invalid-feedback">
                            <p id="invalid-origen"></p>
                        </div>
                        <datalist id="origenes">
                            {{#each lugares}}
                            <option value="{{nombre}}">{{nombre}}</option>
                            {{/each}}
                        </datalist>
                    </div>
                    <div class="mb-3">
                        <label for="destino">Seleccione un destino</label>
                        <input list="destinos" name="destino" id="destino" class="form-select" autocomplete='off'>
                        <div class="invalid-feedback">
                            <p id="invalid-destino"></p>
                        </div>
                        <datalist id="destinos">
                            {{#each lugares}}
                            <option value="{{nombre}}">{{nombre}}</option>
                            {{/each}}
                        </datalist>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" id="guardarButton"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $table = $('#table');
        $('#table').bootstrapTable('load', []);
        $.ajax({
            type: 'GET',
            url: 'http://localhost:3000/admin/rutasJSON',
            data: {},
            dataType: 'json',
            success: function (data) {
                $('#table').bootstrapTable('load', data);
            }, error: function () {
                alert('Error conexion con el servidor');
            }
        });
    });

    $('#origen').focusout(function () {
        const origenElement = $('#origen');
        const lugar = origenElement.val();
        $.ajax('/admin/ruta/lugar', {
            type: 'POST',
            data: { lugar },
            success: function (res) {
                if (res) {
                    origenElement.removeClass('is-invalid');
                    origenElement.addClass('is-valid');
                } else {
                    $('#invalid-origen').text('Lo siento, no existe el origen en el sistema!');
                    origenElement.addClass('is-invalid');
                }
            }
        });
    })

    $('#destino').focusout(function () {
        const destinoElement = $('#destino');
        const lugar = destinoElement.val();
        $.ajax('/admin/ruta/lugar', {
            type: 'POST',
            data: { lugar },
            success: function (res) {
                if (res) {
                    destinoElement.removeClass('is-invalid');
                    destinoElement.addClass('is-valid');
                } else {
                    $('#invalid-destino').text('Lo siento, no existe el destino  en el sistema!');
                    destinoElement.addClass('is-invalid');
                }
            }
        });
    })
    
    function LinkFormatterEdit(value, row) {
        return "<button type='button' class='btn btn-primary btn-xs edit_button'" +
            "data-toggle='modal' data-target='#exampleModal'" +
            "data-id_ruta='" + row.id_ruta + "'" +
            "data-origen='" + row.origen + "'" +
            "data-destino='" + row.destino + "'>" +
            "Editar" +
            "</button>"
    } 
    $(document).on("click", '.edit_button', function () {
        var id = $(this).data('id_ruta');
        var origen = $(this).data('origen');
        var destino = $(this).data('destino');
        
        $.ajax({
            type: 'POST',
            url: 'http://localhost:3000/admin/ruta/editar',
            data: { id },
            success: function (res) {
                    console.log('ENTRA: ', origen);
                    console.log('ENTRA: ', destino);
                if (!res.result) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: res.message
                    })
                } else {
                    $("#origen").val(origen);
                    $("#destino").val(destino);
                    $("#recipient-id").val(id);
                    $('#exampleModal').modal('show');
                    $("#origen").removeClass("is-invalid is-valid")
                    $("#destino").removeClass("is-invalid is-valid")
                    $('#guardarButton').text('Guardar');

                    const unOrigen = document.getElementById("origen").value;
                    const unDestino = document.getElementById("destino").value;

                    const personalButton = document.getElementById("guardarButton");

                    const onChangeInputsPersonal = () => {
                        let nombreOrigenBoolean = (document.getElementById("origen").value).toUpperCase() == unOrigen;
                        let nombreDestinoBoolean = (document.getElementById("destino").value).toUpperCase() == unDestino;

                        (nombreOrigenBoolean && nombreDestinoBoolean) ? personalButton.disabled = true : personalButton.disabled = false;

                    }

                    document.getElementById("origen").addEventListener('input', () => {
                        onChangeInputsPersonal();
                    });
                    document.getElementById("destino").addEventListener('input', () => {
                        onChangeInputsPersonal();
                    })

                    onChangeInputsPersonal();
                }
            }
        });
    });

    function LinkFormatterDelete(value) {
        return "<a onclick='confirmar(" + value + ")' ><button class='btn btn-danger'>Eliminar</button></a>";
    }

    $("#modalForm").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var url = form.attr('action');
        var array = form.serializeArray();
        var edit = array[0].value != '';

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements. 
            success: function (data) {
                if (data.length > 0) {
                    $('#origen').removeClass('is-invalid');
                    $('#origen').addClass('is-valid');
                    $('#destino').removeClass('is-invalid');
                    $('#destino').addClass('is-valid');
                    $.each(data, function (index, value) {
                        if (value.param == 'origen') {
                            $('#origen').addClass('is-invalid');
                            $('#invalid-origen').text(value.msg);
                        }
                        if (value.param == 'destino') {
                            $('#destino').addClass('is-invalid');
                            $('#invalid-destino').text(value.msg);
                        }
                        if (value.param == 'ruta') {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: value.msg
                            })
                        }
                    })
                } else {
                    if (edit) {
                        $('#exampleModal').modal('toggle');
                        Swal.fire(
                            'Editado!',
                            'La ruta se ha editado exitosamente!',
                            'success'
                        )
                    } else {
                        Swal.fire(
                            'Agregado!',
                            'La ruta se ha agregado exitosamente!',
                            'success'
                        )
                    }
                    $.ajax({
                        type: 'GET',
                        url: 'http://localhost:3000/admin/rutasJSON',
                        data: {},
                        dataType: 'json',
                        success: function (data) {
                            $('#table').bootstrapTable('load', data);
                        }, error: function () {
                            alert('Error conexion con el servidor');
                        }
                    });
                    $("#origen").removeClass("is-invalid is-valid")
                    $("#destino").removeClass("is-invalid is-valid")
                    $('#modalForm').trigger("reset");
                }
            }
        });
    });

    // BOTON DE AGREGAR
    function buttons() {
        return {
            btnAdd: {
                id: 'add_button',
                text: 'Agregar ruta',
                icon: 'fa fa-user-plus',
                event: {
                    click: () => {
                        $('#exampleModalLabel').text('Agregar una nueva ruta');
                        $('#guardarButton').text('Agregar');
                        $('#exampleModal').modal('show');
                        $('#guardarButton').prop('disabled', false);
                        $("#origen").removeClass("is-invalid is-valid")
                        $("#destino").removeClass("is-invalid is-valid")
                        $('#modalForm').trigger("reset");
                    }
                },
                attributes: {
                    title: 'Agregar una nueva ruta',
                }
            }
        }
    }
        function confirmar(id) {
        Swal.fire({
            title: 'Seguro que quieres eliminarlo?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminarlo!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax('/admin/rutas/eliminar', {
                    type: 'DELETE',
                    data: { id },
                    success: function (res) {
                        if (res.result) {
                            $.ajax({
                                type: 'GET',
                                url: 'http://localhost:3000/admin/rutasJSON',
                                data: {},
                                dataType: 'json',
                                success: function (data) {
                                    $('#table').bootstrapTable('load', data);
                                }, error: function () {
                                    alert('Error conexion con el servidor');
                                }
                            });
                            Swal.fire(
                                'Eliminado!',
                                res.message,
                                'success'
                            )
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: res.message
                            })
                        }
                    },
                    error: function (data) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!'
                        })
                    }
                });
            }
        })
    };
</script>