<div class="container-xl my-4 d-flex justify-content-center">
    <img src="/images/forgotPassword.jpeg" class="img-fluid" alt="" width="400" height="400" id="forgotPass_image">
    <div class="bg-white p-4 d-flex flex-column justify-content-center" id="forgotPass_side2">
        <h3>¿Olvidaste tu contraseña?</h3>
        <h6>No te preocupes! Ingresa tu email debajo y nosotros te enviaremos
            las instrucciones para reiniciar tu contraseña.</h6>
        <form action="/forgotPasswordValidEmail" method="POST" class="form-floating my-3" id="form_forgotPass">
            <input type="text" class="form-control" id="email" name="email" placeholder="name@example.com"/>
            <div class="invalid-feedback">
                <p id="invalid-email"></p>
            </div>
            <label for="email"><i class="far fa-envelope"></i> Email</label>
            <div class="d-grid gap-2 col-6 mx-auto my-4">
                <button class="btn btn-primary" type="submit" id="button_forgotPass">Enviar</button>
            </div>
        </form>
    </div>
</div>

<div id="loader" class="lds-dual-ring hidden overlay">
    <p style="color: white; font-weight: 600; font-size: 1.4rem; text-align: center; position: relative; top: 23.5rem">Espere un momento...</p>
</div>

<script>

    $('#form_forgotPass').submit(function (e) {
        e.preventDefault();
        var randomCode;
        var form = $(this);
        var url = form.attr('action');
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function (result) {
                if (result.length > 0) {
                    $('#email').removeClass('is-valid');
                    $('#email').addClass('is-invalid');
                    $('#email').css('border', '1px solid #dc3545');
                    $('#form_forgotPass label').css('color', '#dc3545')
                    $('#invalid-email').text(result[0].msg);
                } else {
                    $('#email').removeClass('is-invalid is-valid');
                    $('#email').css('border', '2px solid #1e62c0');
                    $('#form_forgotPass label').css('color', '#1e62c0');
                    $.ajax({
                        type: "POST",
                        url: "/forgotPassword",
                        data: form.serialize(),
                        beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                            $('#loader').removeClass('hidden');
                        },
                        success: function (result) {
                            $('#loader').addClass('hidden')
                            randomCode = result.randomCode;
                            Swal.fire({
                                title: 'Ingrese el código de verificación de 5 dígitos que le enviamos',
                                html:
                                    '<h6>(queremos asegurarnos que eres tú antes de seguir con el proceso de restablecer la contraseña)</h6>' +
                                    '<div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">' +
                                        '<input id="swal-first" class="m-2 text-center form-control rounded" maxlength="1"/>' +
                                        '<input id="swal-second" class="m-2 text-center form-control rounded" maxlength="1"/>' +
                                        '<input id="swal-third" class="m-2 text-center form-control rounded" maxlength="1"/>' +
                                        '<input id="swal-fourth" class="m-2 text-center form-control rounded" maxlength="1"/>' +
                                        '<input id="swal-fifth" class="m-2 text-center form-control rounded" maxlength="1"/>' +
                                    '</div>',
                                willOpen: () => {
                                    function OTPInput() {
                                        const inputs = document.querySelectorAll('#otp > *[id]');
                                        for (let i = 0; i < inputs.length; i++) { 
                                            inputs[i].addEventListener('keypress', function(event) {
                                                if (i===inputs.length - 1 && inputs[i].value !=='' ) { 
                                                    return true; 
                                                } else if (event.keyCode> 47 && event.keyCode < 58) { 
                                                    inputs[i].value=event.key; 
                                                    (i !== inputs.length - 1) ? inputs[i + 1].focus() : inputs[i].blur();
                                                    event.preventDefault(); 
                                                } else if (event.keyCode != 9) { 
                                                    event.preventDefault(); 
                                                } 
                                            });
                                            inputs[i].addEventListener('keydown', function(event) {
                                                if (event.key==="Backspace" ) { 
                                                    console.log('INPUT: ', inputs[i]);
                                                    inputs[i].value='' ; 
                                                    if (i !==0) inputs[i - 1].focus(); 
                                                }
                                            })
                                        } 

                                    } OTPInput();
                                },
                                
                                showCloseButton: true,
                                confirmButtonText: 'Verificar',
                                showLoaderOnConfirm: true,
                                preConfirm: () => {
                                    const inputSwal1 = $('#swal-first').val();
                                    const inputSwal2 = $('#swal-second').val();
                                    const inputSwal3 = $('#swal-third').val();
                                    const inputSwal4 = $('#swal-fourth').val();
                                    const inputSwal5 = $('#swal-fifth').val();

                                    return new Promise( (resolve) => {
                                        $.ajax({
                                            type: "POST",
                                            url: "/codeValidation",
                                            data: { inputSwal1, inputSwal2, inputSwal3, inputSwal4, inputSwal5, randomCode },
                                            success: function(result) {
                                                setTimeout(function(){ 
                                                    resolve(result);
                                                }, 300);
                                            }
                                        })
                                    })
                                    .then(res => {
                                        if (!res.ok) {
                                            throw new Error(res.message);
                                        }
                                        return true;
                                    })
                                    .catch(error => {
                                        Swal.showValidationMessage(
                                            error.message
                                        )
                                    })
                                },
                                allowOutsideClick: () => !Swal.isLoading()
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $.ajax({
                                        type: 'POST',
                                        url: '/newPasswordMail',
                                        data: form.serialize()
                                    })
                                    Swal.fire({
                                        icon: 'success',
                                        title: '¡Ahora si!',
                                        text: 'Te hemos enviado un email con toda la informacion para que puedas iniciar sesion nuevamente.',
                                        showClass: {
                                            popup: 'animate__animated animate__rubberBand'
                                        },
                                        willClose: () => {
                                            window.location.replace("/login");
                                        }
                                    })
                                }
                            })
                        }
                    })
                    
                }
            }
        })
    })
    
</script>